* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
}

img, svg {
  display: block;
  width: 100%;
}

.width {
  width: 100%;
  margin-inline: auto;
}